# Added by me
*~
.gdb_history
error
lu-seq
lu-par
lu-tile
lu-sca-seq
lu-sca-par
lu-sca-tile
*.gcda
res*
*.jpg
graphs.zip

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
